.beach-1236581-640-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 720px;
    object-fit: cover;
}

.first-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 1500px;
    height: 720px;
}

.first-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(217, 217, 217, 0.3);
    width: 1500px;
    height: 85px;
}

.logo-no-background-1-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 113px;
    height: 85px;
    object-fit: cover;
}

.acco-removebg-preview-1-icon {
    position: absolute;
    top: 11px;
    left: 1412px;
    width: 66px;
    height: 62px;
    object-fit: cover;
}

.home {
    position: absolute;
    top: 20px;
    left: 1225px;
    font-size: 50px;
    line-height: 44px;
}

.loc-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1500px;
    height: 720px;
    object-fit: cover;
    mix-blend-mode: linear-burn;
}

.marina-beach-chennai {
    position: absolute;
    top: 606px;
    left: 437px;
    line-height: 44px;
    display: inline-block;
    width: 391px;
    height: 86px;
}

.kanyakumari {
    position: absolute;
    top: 628px;
    left: 828px;
    line-height: 44px;
    display: inline-block;
    width: 297px;
    height: 86px;
}

.rama-krishna-beach {
    position: absolute;
    top: 605px;
    left: 1206px;
    line-height: 44px;
    display: inline-block;
    width: 326px;
    height: 93px;
}

.mypadu-icon {
    position: absolute;
    top: 303px;
    left: 20px;
    width: 352px;
    height: 276px;
    object-fit: cover;
    cursor: pointer;
}

.mypadu-beach-tourism {
    position: absolute;
    top: 605px;
    left: 57px;
    line-height: 44px;
    display: inline-block;
    width: 391px;
    height: 86px;
}

.first-inner {
    position: absolute;
    top: 112px;
    left: 107px;
    border-radius: 30px;
    background-color: #d9d9d9;
    width: 1286px;
    height: 142px;
    opacity: 0.3;
}

.which-beach-you {
    position: absolute;
    top: 156px;
    left: 437px;
    font-size: 60px;
    line-height: 44px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.42);
    width: 834px;
    height: 55px;
}

.beachhh-1-icon {
    position: absolute;
    top: 70px;
    left: 121px;
    width: 241px;
    height: 227px;
    object-fit: cover;
}

.mirena-1-icon {
    position: absolute;
    top: 303px;
    left: 387px;
    width: 352px;
    height: 276px;
    object-fit: cover;
}

.kanya-icon {
    position: absolute;
    top: 300px;
    left: 761px;
    width: 352px;
    height: 282px;
    object-fit: cover;
}

.rama-icon {
    position: absolute;
    top: 303px;
    left: 1135px;
    width: 352px;
    height: 279px;
    object-fit: cover;
}

.first {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 720px;
    overflow: hidden;
    text-align: left;
    font-size: 36px;
    color: #fff;
    font-family: Inter;
}

.first-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 1500px;
    height: 720px;
}

.first-item {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(217, 217, 217, 0.3);
    width: 1500px;
    height: 85px;
}

.first {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 720px;
    overflow: hidden;
}